.header {
    height: 72px;
    background-color: darkmagenta;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 128px;
    margin: 0;
  }

  .logo {
    color: white;
    font-size: 64px;
    font-weight: 900;
  }

  body {
    margin: 0;
  }